<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Mi primera pagina en handlebars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>

     {{!-- <h2>Esto queda fijo </h2>  // queda fijo en todas las paginas arriba de body --}}
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about-us">sobre nosotros</a></li>
      <li><a href="/services">Nuestros servicios</a></li>
      
    </ul> 

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about-me">Sobre mi</a></li>
      <li><a href="/proyects">Mis proyectos</a></li>
    </ul>

    {{{body}}}  
  <footer> <p>&copy; Portafolio de Gustavo Luque 2024. Todos los derechos reservados.</small></p></footer>
  </body>
</html>